@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Onebrb.MVC.Models.Item.CreateItemViewModel 

<p>Create item</p>

<form>
    <div class="form-group">
        <label for="inputTitle">@Localizer["CreateItemTitle"]</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="BMW 330 XD 2002">
    </div>
    <div class="form-group">
        <label for="selectCategory">Example select</label>
        <select class="form-control" id="selectCategory">
            @foreach (var category in Model.Categories)
            {
                <option>@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>

@{
}
