@using Onebrb.MVC.Models.Item
 

    <div id="item-profile">
        <p>@Item.Title</p>

        <div class="item-comments">
            Comments widget
        </div>
    </div>

@code {
    [Parameter]
    public ItemViewModel Item { get; set; }
}
