@using Onebrb.MVC.Models.Item;

@foreach (var item in Items)
{
    <div>
        <p>@item.Title</p>

        @if (Items.Any(x => x.UserId == ViewerId))
        {
            // The viewer is the owner of the items, so we show her additional options
            <button type="button" class="btn btn-info">Edit</button>
            @*<button type="button" class="btn btn-danger" @onclick="DeleteItem(@item.Id)">Delete</button>*@
        }
    </div>
}


@code {
    [Parameter]
    public ICollection<ItemViewModel> Items { get; set; }

    [Parameter]
    public string ViewerId { get; set; }

    bool isViewerOwner = false;

    // Check if the user is the owner of the items

    private void DeleteItem(string itemId)
    {

    }
}
