@using Models
@inject HttpClient Http
@page "/login"

<h3>Login</h3>
<p>@resultMessage</p>

<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="usernmae" @bind-Value="loginModel.Username" />
    <InputText type="password" id="passworde" @bind-Value="loginModel.Password" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private string resultMessage = string.Empty;

    private async void HandleValidSubmit()
    {
        resultMessage = "Please wait...";

        var result = await Http.PostAsync("https://localhost:44307/api/login", null);
        resultMessage = result.StatusCode.ToString();
    }
}
