@page "/items"
@page "/items/{Id:long}"
@attribute [Authorize]
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http
@using Onebrb.SPA.Shared.Models 

<h3>Items</h3>

<div>
    @if (Id == long.MinValue)
    {
        // No item route provided - show generic items page data
        <p>@LoadingMessage</p>
    }
    else
    {
        // Item route was provided

        // Check if there are items returned
        if (ItemReturned)
        {
            <p>@item.Title</p>
        }
    }
</div>

@code {
    [Parameter]
    public long Id { get; set; } = long.MinValue;
    public bool ItemReturned { get; set; }
    public string LoadingMessage { get; set; }
    private Item item;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            LoadingMessage = "Loading... Please wait.";
            item = await Http.GetFromJsonAsync<Item>($"https://localhost:44307/api/items/{Id}");
            ItemReturned = (item != null);
        }
        else
        {
            LoadingMessage = "Look around for something cool to buy... :)";
        }
    }
}
